.aboutSection {
  text-align: center;
  padding: 100px 20px;
}

.aboutSection h1 {
  font-size: 48px;
}

.storeSection {
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 40px 20px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buyBtn {
  background-color: #1abc9c;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.buyBtn:hover {
  background-color: #16a085;
}

.buyBtn:active {
  transform: scale(0.95);
}
